/*  your css code here. If applicable */
.buttons{
  height: 500px;
  width: 100%;
  background: rgb(192, 97, 254);
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
  margin: auto;
}
.btn {
  width: 100px;
  height: 50px;
  background: rgb(110, 7, 173);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.stop{
  width: 100px;
  height: 50px;
  background: rgb(110, 7, 173);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}